/* User Dashboard Styles */
.order-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-card {
    background: white;
    border: 1px solid #dfe6e9;
    padding: 15px;
    border-radius: 8px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfe6e9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-items ul {
    list-style: disc;
    margin-left: 20px;
}

.total-price {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.2rem;
}